<%- layout('layouts/boilerplate') %>

    <body>
        <main id="main">

            <!-- ======= Breadcrumbs Section ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Project Details</h2>
                        <ol>
                            <li><a href="/">Home</a></li>
                            <li><a href="/project">Portfolio</a></li>
                            <li>Project Details: <%=project.title%>
                            </li>
                        </ol>
                    </div>

                </div>
            </section><!-- Breadcrumbs Section -->

            <!-- ======= Portfolio Details Section ======= -->
            <section id="portfolio-details" class="portfolio-details">
                <div class="container">

                    <div class="row gy-4">

                        <div class="col-lg-8">
                            <div class="portfolio-details-slider swiper-container">
                                <div class="swiper-wrapper align-items-center">
                                    <%project.thumbnail.forEach((img,i)=> {%>
                                        <div class="swiper-slide">
                                            <img src="<%=img.mini%> " alt="">
                                        </div>
                                        <% })%>
                                </div>

                                <div class="swiper-pagination"></div>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="portfolio-info">
                                <h3>Project information</h3>
                                <ul>
                                    <li><strong>Category</strong>: <%=project.category %>
                                    </li>
                                    <li><strong>Client</strong>: <%=project.client%>
                                    </li>
                                    <li><strong>Project date</strong>: <%=project.date%>
                                    </li>
                                    <li><strong>Project URL</strong>: <a href="#">
                                            <%=project.url%>
                                        </a></li>
                                </ul>

                            </div>
                            <div class="portfolio-description">
                                <h2>Portfolio details</h2>
                                <%-project.content%>

                            </div>
                        </div>

                    </div>

                </div>
            </section><!-- End Portfolio Details Section -->

        </main><!-- End #main -->