<%- include('../partials/boilerplate/head')%>
    <%- include('../partials/boilerplate/header') %>

        <body>
            <main id="main">
                <div class="paddsection">
                    <%- include('../partials/boilerplate/flash') %>
                </div>
                <%-body%>
                    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                            class="bi bi-arrow-up-short"></i></a>
                    <%- include('../partials/boilerplate/footer') %>
            </main>

        </body>

        </html>