<%- layout('layouts/boilerplate') %>

    <body>
        <!-- ======= Header ======= -->
        <main id="main">
            <!-- ======= Blog Single ======= -->
            <div class="main-content paddsection">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="row">
                                <div class="container-main single-main">
                                    <div class="col-md-12">
                                        <div class="block-main mb-30">
                                            <img src="<%=blog.thumbnail.mini%>" class="img-responsive" alt="reviews2">
                                            <div class="content-main single-post padDiv">

                                                <div class="journal-txt">
                                                    <h2><a href="#">
                                                            Title: <%=blog.title%>
                                                        </a></h2>
                                                </div>
                                                <div class="post-meta">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="author">
                                                            By: <%=blog.owner.username%>
                                                        </li>
                                                        <li class="date">Date:<a href="#">
                                                                <%=blog.date%>
                                                            </a></li>
                                                    </ul>
                                                </div>

                                                <p>
                                                    <%-blog.content%>
                                                </p>

                                            </div>
                                            <% if(blog.owner){ %>
                                                <div class="mb-3 d-flex flex-row ">
                                                    <a href="/blog/<%=blog._id%>/edit " class="btn mx-3">Edit blog</a>
                                                    <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
                                                        <button class="btn">Delete Blog</button>
                                                    </form>
                                                </div>
                                                <% } %>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="comments text-left padDiv mb-30">
                                            <% if(currentUser){%>
                                                <!-- comment form -->
                                                <div class="entry-comments">
                                                    <div class="entry-comments-item">
                                                        <img src="https://res.cloudinary.com/dcsoakvpl/image/upload/v1633730119/Webportfolio/146-1468479_my-profile-icon-blank-profile-picture-circle-hd_xypytx.png"
                                                            class="entry-comments-avatar" alt="">
                                                        <div class="entry-comments-body">
                                                            <span class="entry-comments-author">
                                                                <%=currentUser.username%>
                                                            </span>
                                                            <span><a href="#">fev 14, 2018 at 12:48
                                                                    pm</a></span>
                                                            <form action="/blog/<%=blog._id%>/comment" method="POST">
                                                                <div class="mb-3">
                                                                    <label class="form-label" for="text">Leave us
                                                                        your
                                                                        Comment</label>
                                                                    <textarea class="form-control" name="text" id="text"
                                                                        cols="40" rows="10" required></textarea>
                                                                </div>
                                                                <button class="rep">Post</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% }else{ %>
                                                    <a href="/register " class="btn mx-3">Register Here, to add your
                                                        comment</a>
                                                    <% } %>


                                                        <!-- Actual comment -->

                                                        <%for(let comment of blog.comment){%>
                                                            <div class="entry-comments">
                                                                <!-- <h6 class="mb-30">4 comments</h6> -->
                                                                <ul class="entry-comments-list list-unstyled">
                                                                    <li>
                                                                        <div class="entry-comments-item"><img
                                                                                src="https://res.cloudinary.com/dcsoakvpl/image/upload/v1633730119/Webportfolio/146-1468479_my-profile-icon-blank-profile-picture-circle-hd_xypytx.png"
                                                                                class="entry-comments-avatar" alt="">
                                                                            <div class="entry-comments-body">
                                                                                <span class="entry-comments-author">
                                                                                    <%=comment.owner.username%>
                                                                                </span>
                                                                                <span><a href="#">fev 14, 2018 at 12:55
                                                                                        pm</a></span>
                                                                                <p class="mb-10">
                                                                                    <%=comment.text %>
                                                                                </p>
                                                                            </div>

                                                                        </div>

                                                                    </li>
                                                                </ul>
                                                                <% if(currentUser &&
                                                                    comment.owner.equals(currentUser)){%>
                                                                    <form
                                                                        action="/blog/<%=blog._id%>/comment/<%=comment._id%>?_method=DELETE"
                                                                        method="POST">
                                                                        <button class="btn-danger mb-3">Delete
                                                                            comment</button>
                                                                    </form>
                                                                    <%}%>
                                                            </div>
                                                            <% } %>




                                        </div>
                                    </div>


                                    <!-- form -->
                                    <div class="col-lg-12">
                                        <div class="cmt padDiv">
                                            <form class="php-email-form">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input id="name" type="text" name="name"
                                                                class="form-control" placeholder="Your Name*"
                                                                required="required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input id="email" type="email" name="email"
                                                                class="form-control" placeholder="email *"
                                                                required="required">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input id="subject" type="text" name="subject"
                                                                class="form-control" placeholder="subject">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <textarea id="message" name="message" class="form-control"
                                                                placeholder="Message *" style="height: 200px;"
                                                                required="required"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <input type="submit" class="btn btn-defeault btn-send"
                                                            value="Send message">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Blog Single -->

        </main><!-- End #main -->